body, li, ul, div, form, input, h1, h2, h3, h4, p{
    font-family:tahoma, Verbana, Arial, "TP sans" ;
    font-size:11px;
    font-weight:normal;
}
body{
    background: #ccc;
    margin:0;
    padding:0;
}
a {
    outline: none;
    border: none;
    text-decoration: none;
    color:#000;
}





#top{
    display:block;
    position:relative;
    margin:0;
    width:1008px;
    height:250px;

}
#top_in{
    display:block;
    position:absolute;
    margin:29px 80px;
    width:857px;
    height:200px;
    background-image:url(http://vita/img/top.jpg);
    background-repeat: no-repeat;
    background-position:0 -227px;
    background-size:100%;
    border-radius:40px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);

}
#conteiner{
    display:block;
    position:relative;
    width:1008px;
    height:940px;

}
#conteiner_center{
    display:inline-block;
    margin:0;
    width:655px;
    height:940px;

}
#c_c_1{
    display:inline-block;
    margin-top:20px;
    margin-left:80px;
    width:560px;
    height:500px;
    background: #fff;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);
    padding: 10px 15px 10px 15px;


}

#c_c_1 h1{
  font-size:27px;
    text-align:center;
    font-family:"TP sans" ;

color:#21a6a4;


}
#c_c_1 h2{
    font-size:22px;
    text-align:left;
    margin-left:143px;
    font-family:"TP sans" ;

    color:#21a6a4;


}
#c_c_1 h3 {
    display:inline;
    font-size: 20px;
    font-weight:normal;
}
#c_c_1 p{
    font-size:15px;
    text-align:left;
    margin-top:0;
    }
.c_input{
    display:inline-block;
    width:230px;
    height:35px;
    border-radius:10px;
    font-size:20px ;


}
#c_c_2{
    display:inline-block;
    margin-top:20px;
    margin-left:80px;
    width:560px;
    height:354px;
    background: #fff;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);
    padding: 10px 15px 10px 15px;



}
#conteiner_right{
    display:inline-block;
    position:absolute;
    margin:0;
    width:303px;
    height:940px;

}

#c_r_log input {
    outline: none;
    border: none;
    text-decoration: none;
    color:#000;
}
#c_r_log{
    display:inline-block;
    margin-top:20px;
    margin-left:30px;
    width:255px;
    height:177px;
    background:url(http://vita/img/fon.jpg) no-repeat;
    background-size: 101%;
    background-position: 0 -67px;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);
}
#c_r_log_{
    display:inline-block;
    margin-top:20px;
    margin-left:30px;
    width:255px;
    height:177px;
    background:#fff;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);

}
#c_r_log_ h1{
    font-size:15px ;
    text-align:center ;
    font-weight:bold ;
}
#c_r_log_ h2{
    font-size:15px;
    text-align:left;
    margin-left:10px;
    margin-right:10px;


}
#c_r_log_ h3{
    font-size:16px;
    text-align:right;
    margin-left:10px;
    margin-right:10px;
    font-weight:bold ;


}
#c_r_log a{
    display:inline;
    position:absolute;
    font-size:14px;
    font-weight:bold ;
    font-family:"Segoe Script";
    margin-left:51px;
    margin-top:106px;


}
.log_b{
    display:inline-block;
    width:110px;
    height:45px;
    cursor:pointer;
    margin-top:10px;
    margin-left:123px;
    background:none;
    background-image:url(http://vita/img/but_2.png);
    background-repeat: no-repeat;
    background-size:123%;
    background-position:-6px -1px;
}
.log_b:active{
    background-image:url(http://vita/img/but_2.png);
    background-repeat: no-repeat;
    background-size:123%;
    background-position:-6px -48px;
}

.log_1{
    display:inline;
    margin-top: 26px ;
    margin-left: 56px;
    width:139px;
    height:22px;
    font-size:20px;
    background:none;

}
.log_2{
    display:inline;
    margin-top: 31px;
    margin-left: 56px;
    width:139px;
    height:22px;
    font-size:20px;
    background:none;
}
#c_r_frame{
    display:inline-block;
    margin-top:50px;
    margin-left:30px;
    width:255px;
    height:400px;
    background:#fff;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);



}
#c_r_frame_b{
    display:inline-block;
    margin-top:15px;
    margin-left:30px;
    width:255px;
    height:271px;
    background:#fff;
    border-radius:44px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);

}
#bottom{
    display:block;
    position:relative;
    width:1008px;
    height:123px;

}
#bottom_in{
    display:block;
    position:absolute;
    width:950px;
    height:75px;
    margin-top:18px;
    margin-left:30px;
    background:#fff;
    border-radius:55px;
    box-shadow:0 5px 5px rgba(0,0,0,.2);




}
