<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href"https://github.com/necolas/normalize.css/blob/master/normalize.css" />
    <title>asd</title>

</head>
<body>
<div id="top">
    <div id="top_in">


</div>
    </div>

<div id="conteiner">
    <div id="conteiner_center">

        <div id="c_c_1">
            <h1>Twig для программистов</h1>
<p>This chapter describes the API to Twig and not the template language. It will be most useful as reference to those implementing the template interface to the application and not those who are creating Twig templates.</p>
<h2>Basics</h2>
            <p>Twig uses a central object called the environment (of class Twig_Environment). Instances of this class are used to store the configuration and extensions, and are used to load templates from the file system or other locations.</p>

            <p>Most applications will create one Twig_Environment object on application initialization and use that to load templates. In some cases it's however useful to have multiple environments side by side, if different configurations are in use.</p>
          <p>The simplest way to configure Twig to load templates for your application looks roughly like this:</p>
            </div>
        <div id="c_c_2">

            </div>
    </div>
<div id="conteiner_right">
    {%  if session.login is empty %}
    <div id="c_r_log">

        <form action="index.php" method=post>
<input class="log_1" type=text name="login" value="Логин" onblur="if(this.value=='')this.value='Логин';"
       onfocus="if(this.value=='Логин')this.value='';">
<input class="log_2" type=password name="password" value="Пароль1" onblur="if(this.value=='')this.value='Пароль1';"
       onfocus="if(this.value=='Пароль1')this.value='';" >
            <a href="registration.php">Регистрация</a>
        <input class="log_b" type=submit value="" >
            </form>

        </div>
    {% else %}
    <div id="c_r_log_">
<h1>Привет {{ session.name }} )</h1>
        <h2> Вы авторизировались )))</h2>
        <h2>Приятного лазанья по сайту )</h2>


             <a href="settin.php" float="center"><h3>Личный кабинет</h3></a>
        <a href="unset.php" flat="right"><h3>Выход<h3></a>
        </div>
    {% endif %}
    <div id="c_r_frame">
        {% if session.error is not empty %}
            <p style="font-size: 20px; color:#ff0000; margin-top:20px; text-align: center;">{{ session.error }}</p>
        {% endif %}

    </div>
    <div id="c_r_frame_b">

    </div>
    </div>
    </div>

<div id="bottom">
        <div id="bottom_in">

            </div>


    </div>
</body>
</html>