<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href"https://github.com/necolas/normalize.css/blob/master/normalize.css" />
    <title>asd</title>

</head>
<body>
<div id="top">
    <div id="top_in">


    </div>
</div>

<div id="conteiner">
    <div id="conteiner_center">

        <div id="c_c_1">
            <h1>Регистрация</h1>
            <form action="registration.php" method=post>
                <h3>Имя :</h3><input class="c_input" type=text name="name"><br>
                <h3>Фамилия :</h3> <input class="c_input" type=text name="soname"><br>
                <h3>Логин* :</h3> <input class="c_input" type=text name="login"><br>
                <h3>Пароль* :</h3>  <input class="c_input" type=password name="password"><br>
                <h3>Повторите пароль :</h3>   <input class="c_input" type=password name="password_check"><br>
                <h3>Ваш e-mail :</h3> <input class="c_input" type=text name="mail"><br>
                <input type=submit value="Регистрация" >
            </form>
{% if session.error is defined %}
            <h2>{{ session.error }}</h2>
            {% endif %}


        </div>
        <div id="c_c_2">

        </div>
    </div>
    <div id="conteiner_right">
        {%  if session.login is empty %}
            <div id="c_r_log">

                <form action="index.php" method=post>
                    <input class="log_1" type=text name="login" value="Логин" onblur="if(this.value=='')this.value='Логин';"
                           onfocus="if(this.value=='Логин')this.value='';">
                    <input class="log_2" type=password name="password" value="Пароль1" onblur="if(this.value=='')this.value='Пароль1';"
                           onfocus="if(this.value=='Пароль1')this.value='';" >
                    <a href="registration.php">Регистрация</a>
                    <input class="log_b" type=submit value="" >
                </form>


            </div>
        {% else %}
            <div id="c_r_log_">
                <h1>Привет {{ session.name }}</h1>
                <h2> Вы авторизировались )))</h2>
                <h2>Приятного лазанья по сайту )</h2>
                <br>
                <a href="unset.php" flat="right"><h3>Выход<h3></a>
            </div>
        {% endif %}
        <div id="c_r_frame">

        </div>
        <div id="c_r_frame_b">

        </div>
    </div>
</div>

<div id="bottom">
    <div id="bottom_in">

    </div>


</div>
</body>
</html>