<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href"https://github.com/necolas/normalize.css/blob/master/normalize.css" />
    <title>asd</title>

</head>
<body>
<div id="top">
    <div id="top_in">


    </div>
</div>

<div id="conteiner">
    <div id="conteiner_center">

        <div id="c_c_1">
<h1>Данные пользователя :</h1>
            <p style="display:inline;">Ваше имя
                {% if post.ch == 'name' %}
                <form action="settin.php" method=post>
                <input type=hidden name="line" value="name">
                <input style="display:inline;" type=text name="value" >
                <input style="display:inline;" type=submit value="Изменить">
                </form>
                {% else %}
                {% if session.name is not empty %} {{ session.name }} {% else %} не указанно ! {% endif %} </p>
            <form style=" display:inline;" action="settin.php" method=post>
                <input type=hidden name="ch" value="name">
                <input style="background:none;color:#ff0000;font-size:10px;border:none;cursor:pointer "  type=submit value="(Изменить)">
            </form>
            {% endif %}
            <br>
            <p style="display:inline;">Ваша фамилия
                {% if post.ch == 'soname' %}
            <form action="settin.php" method=post>
                <input type=hidden name="line" value="soname">
                <input style="display:inline;" type=text name="value" >
                <input style="display:inline;" type=submit value="Изменить">
            </form>
            {% else %}
            {% if session.soname is not empty %} {{ session.soname }} {% else %} не указанна ! {% endif %} </p>
            <form style=" display:inline;" action="settin.php" method=post>
                <input type=hidden name="ch" value="soname">
                <input style="background:none;color:#ff0000;font-size:10px;border:none;cursor:pointer "  type=submit value="(Изменить)">
            </form>
            {% endif %}
            <br>
            <p style="display:inline;">Ваш Логин
                {% if post.ch == 'login' %}
            <form action="settin.php" method=post>
                <input type=hidden name="line" value="login">
                <input style="display:inline;" type=text name="value" >
                <input style="display:inline;" type=submit value="Изменить">
            </form>
            {% else %}
            {{ session.login }} </p>
            <form style=" display:inline;" action="settin.php" method=post>
                <input type=hidden name="ch" value="login">
                <input style="background:none;color:#ff0000;font-size:10px;border:none;cursor:pointer "  type=submit value="(Изменить)">
            </form>
            {% endif %}
            <br>
            <p style="display:inline;">Пароль надёжный ...
                {% if post.ch == 'password' %}
            <form action="settin.php" method=post>
                <input type=hidden name="line" value="password">
                <input style="display:inline;" type=text name="value" >
                <input style="display:inline;" type=submit value="Изменить">
            </form>
            {% else %}
            </p>
            <form style=" display:inline;" action="settin.php" method=post>
                <input type=hidden name="ch" value="password">
                <input style="background:none;color:#ff0000;font-size:10px;border:none;cursor:pointer "  type=submit value="(Изменить)">
            </form>
            {% endif %}
            <br>
            <p style="display:inline;">Ваш e-mail
                {% if post.ch == 'email' %}
            <form action="settin.php" method=post>
                <input type=hidden name="line" value="email">
                <input style="display:inline;" type=text name="value" >
                <input style="display:inline;" type=submit value="Изменить">
            </form>
            {% else %}
            {% if session.name is not empty %} {{ session.email }} {% else %} не указан ! {% endif %} </p>
            <form style=" display:inline;" action="settin.php" method=post>
                <input type=hidden name="ch" value="email">
                <input style="background:none;color:#ff0000;font-size:10px;border:none;cursor:pointer "  type=submit value="(Изменить)">
            </form>
            {% endif %}
        </div>
        <div id="c_c_2">

        </div>
    </div>
    <div id="conteiner_right">
        {%  if session.login is empty %}
            <div id="c_r_log">

                <form action="index.php" method=post>
                    <input class="log_1" type=text name="login" value="Логин" onblur="if(this.value=='')this.value='Логин';"
                           onfocus="if(this.value=='Логин')this.value='';">
                    <input class="log_2" type=password name="password" value="Пароль1" onblur="if(this.value=='')this.value='Пароль1';"
                           onfocus="if(this.value=='Пароль1')this.value='';" >
                    <a href="registration.php">Регистрация</a>
                    <input class="log_b" type=submit value="" >
                </form>

            </div>
        {% else %}
            <div id="c_r_log_">
                <h1>Привет {{ session.name }}</h1>
                <h2> Вы авторизировались )))</h2>
                <h2>Приятного лазанья по сайту )</h2>


                <a href="settin.php" float="center"><h3>Вы в Личном кабинете</h3></a>

                <a href="unset.php" flat="right"><h3>Выход<h3></a>
            </div>
        {% endif %}
        <div id="c_r_frame">
            {% if session.error is not empty %}
                <p style="font-size: 20px; color:#ff0000; margin-top:20px; text-align: center;">{{ session.error }}</p>
            {% endif %}

        </div>
        <div id="c_r_frame_b">

        </div>
    </div>
</div>

<div id="bottom">
    <div id="bottom_in">

    </div>


</div>
</body>
</html>